{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="flex justify-center h-fit py-12 items-center">
        <div class="container flex-col justify-center items-center flex ">
            <h1 class="font-extrabold text-3xl max-md:text-xl font-gray-500 mb-24 w-full text-center text-red-500 ">استمارة طلب
                الالتحاق بالمدرسة
            </h1>
            <form class="w-full  max-w-2xl max-md:px-12" action="{% url 'forms:register' %}" method="POST">
                {% csrf_token %}
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                            for="grid-first-name">
                            اسم الطالب
                        </label>
                        <input required 
                            class="appearance-none block w-full  text-gray-700 border placeholder:text-sm  placeholder:h-8  rounded py-3  px-4 mb-3 leading-tight focus:outline-none focus:border-sky-500"
                            type="text" placeholder="أدخل اسم الطالب" name="student_name">
                    </div>
                    <div class="w-full md:w-1/2 px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                            for="grid-last-name">
                            الرقم المدني
                        </label>
                        <input required 
                            class="appearance-none block w-full  text-gray-700 border placeholder:text-sm  placeholder:h-8 border-gray-200 rounded py-3  px-4 leading-tight focus:outline-none focus:border-sky-500 "
                            type="number" placeholder="الرقم المدني" name="civil_no">
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                            for="grid-first-name">
                            تاريخ الميلاد
                        </label>
                        <input required 
                            class="appearance-none block w-full  text-gray-700 border placeholder:text-sm  placeholder:h-8  rounded py-3  px-4 mb-3 leading-tight focus:outline-none focus:border-sky-500"
                            type="date" placeholder="تاريخ الميلاد" name="date_of_birth">
                    </div>
                    <div class="w-full md:w-1/2 px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                            for="grid-last-name">
                            الجنسية
                        </label>
                        <input required 
                            class="appearance-none block w-full  text-gray-700 border placeholder:text-sm  placeholder:h-8 border-gray-200 rounded py-3  px-4 leading-tight focus:outline-none focus:border-sky-500 "
                            type="text" placeholder="الجنسية" name="nationality">
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-2">

                    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                            for="grid-state">
                            المرحلة الدراسية
                        </label>
                        <div class="relative">
                            <select required
                                class="block appearance-none w-full  border border-gray-200 text-gray-700 py-3  px-4 pr-8 rounded leading-tight focus:outline-none focus:border-sky-500 "
                                id="grid-state" name="educational_level" >
                                <option selected>ابتدائي</option>
                                <option>اعدادي</option>
                                <option>ثانوي</option>
                            </select>

                        </div>
                    </div>
                    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                            for="grid-state">
                            سبق له الدراسة
                        </label>
                        <div class="relative">
                            <select required
                                class="block appearance-none w-full  border border-gray-200 text-gray-700 py-3  px-4 pr-8 rounded leading-tight focus:outline-none focus:border-sky-500 "
                                id="grid-state" name="prev_studied" >
                                <option selected>نعم</option>
                                <option>لا</option>
                            </select>

                        </div>
                    </div>
                    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                            for="grid-zip">
                            اسم المدرسه السابقة
                        </label>
                        <input required 
                            class="appearance-none block w-full  text-gray-700 border placeholder:text-sm  placeholder:h-8 border-gray-200 rounded py-3  px-4 leading-tight focus:outline-none focus:border-sky-500 "
                            id="grid-zip" type="text" name="previous_school" placeholder="اسم المدرسه السابقة">
                    </div>
                </div>

                <h2 class="font-bold w-full text-center text-lg mt-12 mb-4 text-red-500">بيانات ولي الامر</h2>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                            for="grid-first-name">
                            اسم ولي الامر
                        </label>
                        <input required 
                            class="appearance-none block w-full  text-gray-700 border placeholder:text-sm  placeholder:h-8  rounded py-3  px-4 mb-3 leading-tight focus:outline-none focus:border-sky-500"
                            type="text" placeholder="اسم ولي الامر" name="guardian_name">
                    </div>
                    <div class="w-full md:w-1/2 px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                            for="grid-last-name">
                            الوظيفة
                        </label>
                        <input required 
                            class="appearance-none block w-full  text-gray-700 border placeholder:text-sm  placeholder:h-8 border-gray-200 rounded py-3  px-4 leading-tight focus:outline-none focus:border-sky-500 "
                            type="text" placeholder="الوظيفة" name="the_job">
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6 -my-4">
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                            for="grid-password">
                            رقم الهاتف
                        </label>
                        <input required 
                            class="appearance-none block w-full  text-gray-700 border placeholder:text-sm  placeholder:h-8 border-gray-200 rounded py-3  px-4 mb-3 leading-tight focus:outline-none focus:border-sky-500 "
                            type="number" placeholder="ادخل رقم الهاتف" name="phone_number">
                    </div>
                </div>
                <div class="flex -mt-4 flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                            for="grid-first-name">
                            مقر العمل
                        </label>
                        <input required 
                            class="appearance-none block w-full  text-gray-700 border placeholder:text-sm  placeholder:h-8  rounded py-3  px-4 mb-3 leading-tight focus:outline-none focus:border-sky-500"
                            type="text" placeholder="مقر العمل" name="work_location">
                    </div>
                    <div class="w-full md:w-1/2 px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                            for="grid-last-name">
                            الرقم المدني لولي الأمر
                        </label>
                        <input required 
                            class="appearance-none block w-full  text-gray-700 border placeholder:text-sm  placeholder:h-8 border-gray-200 rounded py-3  px-4 leading-tight focus:outline-none focus:border-sky-500 "
                            type="number" placeholder="الرقم المدني لولي الأمر" name="guardian_civil_no">
                    </div>
                </div>
                
                <div class="flex flex-wrap -mx-3 mb-6 -my-4">
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2"
                            for="grid-password">
                            البريد الالكتروني للاختبار 
                        </label>
                        <input required 
                            class="appearance-none block w-full  text-gray-700 border placeholder:text-sm  placeholder:h-8 border-gray-200 rounded py-3  px-4 mb-3 leading-tight focus:outline-none focus:border-sky-500 "
                            type="email" placeholder="info.exa.com" name="email">
                    </div>
                </div>

                <button type="submit"
                    class="bg-blue-500 mt-4 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">ارسال</button>
            </form>
        </div>
    </div>


</body>

</html>